---
import { mainMenu, MainMenuProps } from '../../constants/mainMenu'
---

<nav>
  {
    mainMenu.map(({ path, name, picture, external }: MainMenuProps) => (
      <a
        href={path}
        aria-label={name}
        title={name}
        target={external ? '_blank' : ''}
      >
        <img
          src={picture}
          width="375"
          alt="puede ser una imagen de una de las obras de isarte"
        />
        <span>{name}</span>
      </a>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    min-height: 100vh;
    padding: 0 2.4rem;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 32.5rem;
    max-width: 100%;
    width: 100%;
    height: 80vh;
    text-decoration: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    color: var(--white);
    font-family: var(--font-primary);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    font-size: var(--font-md);
    z-index: 2;
    text-transform: uppercase;
    transform: translateY(0.5rem);
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  @media (min-width: 1024px) {
    nav {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 8rem;
      margin: 0;
    }

    a {
      min-width: 52.5rem;
    }

    span {
      color: var(--black);
      opacity: 0;
      text-shadow: none;
    }

    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
      background-color: var(--white);
      opacity: 0;
      transition: all 0.5s ease-in-out;
      z-index: 1;
    }

    a:hover::before {
      opacity: 0.9;
    }

    a:hover span {
      transform: translateY(-1.5rem);
      opacity: 1;
    }
  }
</style>
